// Colors
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$darkGreen: hsl(136, 57%, 42%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: #bbe9dc;
$white: hsl(0, 0%, 100%);

$whyUsColor: hsl(182.77deg 86.51% 82.49%);
$textColor: hsl(233, 41%, 61%);
$testColor: rgb(38, 80, 115);

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;

$one: #f4f8fd;
$two: #f3f4f6;
$grayish: #2a3030;
$blue: rgb(64, 112, 184);
$brightCyan: hsl(192, 70%, 51%);
